BS.Output.Elementool/Connected Services/Elementool.BugTracking/BugTracking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.elementool.com/WebServices/BugTracking" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.elementool.com/WebServices/BugTracking" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.elementool.com/WebServices/BugTracking">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="LoginCheck">
        <s:complexType />
      </s:element>
      <s:element name="LoginCheckResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetNewIssue">
        <s:complexType />
      </s:element>
      <s:element name="GetNewIssueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewIssueResult" type="tns:BugTrackingIssue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BugTrackingIssue">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsReadOnly" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IssueNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SubmittedOn" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SubmittedOnDateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldsArray" type="tns:ArrayOfIssueField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIssueField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IssueField" nillable="true" type="tns:IssueField" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IssueField">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SystemName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Caption" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRequired" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsReadOnly" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanNotify" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ValueList" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Layout" type="tns:FieldLayout" />
          <s:element minOccurs="1" maxOccurs="1" name="SendNotification" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FieldLayout">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Position" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LinesNum" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetIssueByNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IssueNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIssueByNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIssueByNumResult" type="tns:BugTrackingIssue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveIssue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Issue" type="tns:BugTrackingIssue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveIssueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveIssueResult" type="tns:BugTrackingIssue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteQuickReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReportID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteQuickReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteQuickReportResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIssueHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IssueNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIssueHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIssueHistoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIssueRemarks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IssueNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIssueRemarksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIssueRemarksResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIssueAttachments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IssueNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIssueAttachmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIssueAttachmentsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIssueAttachmentsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IssueNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIssueAttachmentsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIssueAttachmentsInfoResult" type="tns:ArrayOfIssueAttachment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIssueAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IssueAttachment" nillable="true" type="tns:IssueAttachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IssueAttachment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DownloadAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileIsEmpty" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="fileExists" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownloadAttachmentResult" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="fileIsEmpty" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="fileExists" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IssueNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FileUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAttachmentResult" type="tns:DeleteAttachmentResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="DeleteAttachmentResult">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="AccessDenied" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AddAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IssueNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAttachmentResult" type="tns:AddAttachmentResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="AddAttachmentResult">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="AccessDenied" />
          <s:enumeration value="InvalidIssueNumber" />
          <s:enumeration value="SizeTooBig" />
          <s:enumeration value="NoFileRecieved" />
          <s:enumeration value="MoreThanOneFileRecieved" />
          <s:enumeration value="InvalidExtension" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetMaxAttachmentSize">
        <s:complexType />
      </s:element>
      <s:element name="GetMaxAttachmentSizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMaxAttachmentSizeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWelcomeReports">
        <s:complexType />
      </s:element>
      <s:element name="GetWelcomeReportsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWelcomeReportsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDBBackup">
        <s:complexType />
      </s:element>
      <s:element name="GetDBBackupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDBBackupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteWelcomeReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReportID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteWelcomeReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteWelcomeReportResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomReportQueryFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserDefinedFieldsOnly" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomReportQueryFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomReportQueryFieldsResult" type="tns:ArrayOfIssueField" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteCustomReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryFields" type="tns:ArrayOfIssueField" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteCustomReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteCustomReportResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuickReportsList">
        <s:complexType />
      </s:element>
      <s:element name="GetQuickReportsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuickReportsListResult" type="tns:ArrayOfQuickReport" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQuickReport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QuickReport" nillable="true" type="tns:QuickReport" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QuickReport">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDateFormat">
        <s:complexType />
      </s:element>
      <s:element name="GetDateFormatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateFormatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountsList">
        <s:complexType />
      </s:element>
      <s:element name="GetAccountsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountsListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginCheckSoapIn">
    <wsdl:part name="parameters" element="tns:LoginCheck" />
  </wsdl:message>
  <wsdl:message name="LoginCheckSoapOut">
    <wsdl:part name="parameters" element="tns:LoginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewIssueSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewIssue" />
  </wsdl:message>
  <wsdl:message name="GetNewIssueSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewIssueResponse" />
  </wsdl:message>
  <wsdl:message name="GetIssueByNumSoapIn">
    <wsdl:part name="parameters" element="tns:GetIssueByNum" />
  </wsdl:message>
  <wsdl:message name="GetIssueByNumSoapOut">
    <wsdl:part name="parameters" element="tns:GetIssueByNumResponse" />
  </wsdl:message>
  <wsdl:message name="SaveIssueSoapIn">
    <wsdl:part name="parameters" element="tns:SaveIssue" />
  </wsdl:message>
  <wsdl:message name="SaveIssueSoapOut">
    <wsdl:part name="parameters" element="tns:SaveIssueResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteQuickReportSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteQuickReport" />
  </wsdl:message>
  <wsdl:message name="ExecuteQuickReportSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteQuickReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetIssueHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetIssueHistory" />
  </wsdl:message>
  <wsdl:message name="GetIssueHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetIssueHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetIssueRemarksSoapIn">
    <wsdl:part name="parameters" element="tns:GetIssueRemarks" />
  </wsdl:message>
  <wsdl:message name="GetIssueRemarksSoapOut">
    <wsdl:part name="parameters" element="tns:GetIssueRemarksResponse" />
  </wsdl:message>
  <wsdl:message name="GetIssueAttachmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetIssueAttachments" />
  </wsdl:message>
  <wsdl:message name="GetIssueAttachmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetIssueAttachmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetIssueAttachmentsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetIssueAttachmentsInfo" />
  </wsdl:message>
  <wsdl:message name="GetIssueAttachmentsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetIssueAttachmentsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadAttachment" />
  </wsdl:message>
  <wsdl:message name="DownloadAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAttachment" />
  </wsdl:message>
  <wsdl:message name="DeleteAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="AddAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:AddAttachment" />
  </wsdl:message>
  <wsdl:message name="AddAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:AddAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaxAttachmentSizeSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaxAttachmentSize" />
  </wsdl:message>
  <wsdl:message name="GetMaxAttachmentSizeSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaxAttachmentSizeResponse" />
  </wsdl:message>
  <wsdl:message name="GetWelcomeReportsSoapIn">
    <wsdl:part name="parameters" element="tns:GetWelcomeReports" />
  </wsdl:message>
  <wsdl:message name="GetWelcomeReportsSoapOut">
    <wsdl:part name="parameters" element="tns:GetWelcomeReportsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDBBackupSoapIn">
    <wsdl:part name="parameters" element="tns:GetDBBackup" />
  </wsdl:message>
  <wsdl:message name="GetDBBackupSoapOut">
    <wsdl:part name="parameters" element="tns:GetDBBackupResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteWelcomeReportSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteWelcomeReport" />
  </wsdl:message>
  <wsdl:message name="ExecuteWelcomeReportSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteWelcomeReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomReportQueryFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomReportQueryFields" />
  </wsdl:message>
  <wsdl:message name="GetCustomReportQueryFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomReportQueryFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteCustomReportSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteCustomReport" />
  </wsdl:message>
  <wsdl:message name="ExecuteCustomReportSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteCustomReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuickReportsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuickReportsList" />
  </wsdl:message>
  <wsdl:message name="GetQuickReportsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuickReportsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetDateFormatSoapIn">
    <wsdl:part name="parameters" element="tns:GetDateFormat" />
  </wsdl:message>
  <wsdl:message name="GetDateFormatSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateFormatResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountsList" />
  </wsdl:message>
  <wsdl:message name="GetAccountsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountsListResponse" />
  </wsdl:message>
  <wsdl:portType name="BugTrackingSoap">
    <wsdl:operation name="LoginCheck">
      <wsdl:input message="tns:LoginCheckSoapIn" />
      <wsdl:output message="tns:LoginCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewIssue">
      <wsdl:input message="tns:GetNewIssueSoapIn" />
      <wsdl:output message="tns:GetNewIssueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIssueByNum">
      <wsdl:input message="tns:GetIssueByNumSoapIn" />
      <wsdl:output message="tns:GetIssueByNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveIssue">
      <wsdl:input message="tns:SaveIssueSoapIn" />
      <wsdl:output message="tns:SaveIssueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuickReport">
      <wsdl:input message="tns:ExecuteQuickReportSoapIn" />
      <wsdl:output message="tns:ExecuteQuickReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIssueHistory">
      <wsdl:input message="tns:GetIssueHistorySoapIn" />
      <wsdl:output message="tns:GetIssueHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIssueRemarks">
      <wsdl:input message="tns:GetIssueRemarksSoapIn" />
      <wsdl:output message="tns:GetIssueRemarksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIssueAttachments">
      <wsdl:input message="tns:GetIssueAttachmentsSoapIn" />
      <wsdl:output message="tns:GetIssueAttachmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIssueAttachmentsInfo">
      <wsdl:input message="tns:GetIssueAttachmentsInfoSoapIn" />
      <wsdl:output message="tns:GetIssueAttachmentsInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadAttachment">
      <wsdl:input message="tns:DownloadAttachmentSoapIn" />
      <wsdl:output message="tns:DownloadAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <wsdl:input message="tns:DeleteAttachmentSoapIn" />
      <wsdl:output message="tns:DeleteAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAttachment">
      <wsdl:input message="tns:AddAttachmentSoapIn" />
      <wsdl:output message="tns:AddAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxAttachmentSize">
      <wsdl:input message="tns:GetMaxAttachmentSizeSoapIn" />
      <wsdl:output message="tns:GetMaxAttachmentSizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWelcomeReports">
      <wsdl:input message="tns:GetWelcomeReportsSoapIn" />
      <wsdl:output message="tns:GetWelcomeReportsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDBBackup">
      <wsdl:input message="tns:GetDBBackupSoapIn" />
      <wsdl:output message="tns:GetDBBackupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteWelcomeReport">
      <wsdl:input message="tns:ExecuteWelcomeReportSoapIn" />
      <wsdl:output message="tns:ExecuteWelcomeReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomReportQueryFields">
      <wsdl:input message="tns:GetCustomReportQueryFieldsSoapIn" />
      <wsdl:output message="tns:GetCustomReportQueryFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteCustomReport">
      <wsdl:input message="tns:ExecuteCustomReportSoapIn" />
      <wsdl:output message="tns:ExecuteCustomReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuickReportsList">
      <wsdl:input message="tns:GetQuickReportsListSoapIn" />
      <wsdl:output message="tns:GetQuickReportsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDateFormat">
      <wsdl:input message="tns:GetDateFormatSoapIn" />
      <wsdl:output message="tns:GetDateFormatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountsList">
      <wsdl:input message="tns:GetAccountsListSoapIn" />
      <wsdl:output message="tns:GetAccountsListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BugTrackingSoap" type="tns:BugTrackingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginCheck">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/LoginCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewIssue">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetNewIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueByNum">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetIssueByNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveIssue">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/SaveIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuickReport">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/ExecuteQuickReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueHistory">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetIssueHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueRemarks">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetIssueRemarks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueAttachments">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetIssueAttachments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueAttachmentsInfo">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetIssueAttachmentsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAttachment">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/DownloadAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/DeleteAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttachment">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/AddAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxAttachmentSize">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetMaxAttachmentSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelcomeReports">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetWelcomeReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBBackup">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetDBBackup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteWelcomeReport">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/ExecuteWelcomeReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomReportQueryFields">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetCustomReportQueryFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCustomReport">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/ExecuteCustomReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuickReportsList">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetQuickReportsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateFormat">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetDateFormat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountsList">
      <soap:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetAccountsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BugTrackingSoap12" type="tns:BugTrackingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginCheck">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/LoginCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewIssue">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetNewIssue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueByNum">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetIssueByNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveIssue">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/SaveIssue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteQuickReport">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/ExecuteQuickReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueHistory">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetIssueHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueRemarks">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetIssueRemarks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueAttachments">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetIssueAttachments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssueAttachmentsInfo">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetIssueAttachmentsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAttachment">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/DownloadAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/DeleteAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttachment">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/AddAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxAttachmentSize">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetMaxAttachmentSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWelcomeReports">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetWelcomeReports" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBBackup">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetDBBackup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteWelcomeReport">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/ExecuteWelcomeReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomReportQueryFields">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetCustomReportQueryFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCustomReport">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/ExecuteCustomReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuickReportsList">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetQuickReportsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateFormat">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetDateFormat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountsList">
      <soap12:operation soapAction="http://www.elementool.com/WebServices/BugTracking/GetAccountsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BugTracking">
    <wsdl:port name="BugTrackingSoap" binding="tns:BugTrackingSoap">
      <soap:address location="http://www.elementool.com/WebServices/BugTracking.asmx" />
    </wsdl:port>
    <wsdl:port name="BugTrackingSoap12" binding="tns:BugTrackingSoap12">
      <soap12:address location="http://www.elementool.com/WebServices/BugTracking.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>