BS.Output.Elementool/Connected Services/Elementool.BugTracking/ElementoolWcfService.Core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ElementoolWcfService.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ElementoolWcfService.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfQuickReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuickReport" nillable="true" type="tns:QuickReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuickReport" nillable="true" type="tns:ArrayOfQuickReport" />
  <xs:complexType name="QuickReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuickReport" nillable="true" type="tns:QuickReport" />
</xs:schema>